/* VARIABLES
  ================================ */
/* COLORS */
/* BREAKPOINTS */
/* THE FOUNDATION
  ================================ */
@import url("https://fonts.googleapis.com/css?family=Raleway:400,700");
* {
  box-sizing: border-box;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  font: 16px/1 sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
p,
blockquote,
figure,
ol,
ul {
  margin: 0;
  padding: 0;
}

main,
li {
  display: block;
}

h1,
h2,
h3,
h4 {
  font-size: inherit;
}

strong {
  font-weight: bold;
}

a,
button {
  color: inherit;
  transition: .3s;
}

a {
  text-decoration: none;
}

button {
  overflow: visible;
  border: 0;
  font: inherit;
  -webkit-font-smoothing: inherit;
  letter-spacing: inherit;
  background: none;
  cursor: pointer;
}

::-moz-focus-inner {
  padding: 0;
  border: 0;
}

img {
  max-width: 100%;
  height: auto;
  border: 0;
}

/* TYPOGRAPHY
  ================================ */
p,
ul,
ol {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  letter-spacing: 0.1em;
}

/* MAIN NAV
  ================================ */
.nav-bar {
  background: #38C3FF;
  padding: 1em;
}
@media screen and (min-width: 361px) {
  .nav-bar {
    background: #7AEC1E;
  }
}
@media screen and (min-width: 601px) {
  .nav-bar {
    background: #ADADAD;
  }
}
@media screen and (min-width: 1025px) {
  .nav-bar {
    background: #FF3B2E;
  }
}

.main-nav {
  position: fixed;
  top: 0;
  left: -14em;
  width: 7em;
  height: 100%;
  background: #fff;
  text-align: center;
  transform: translate3d(0);
  transition: transform 1.3s;
}

.main-nav li a {
  display: block;
  padding: 1em;
  text-transform: capitalize;
  font-weight: 700;
  font-size: 1.2em;
}

.main-nav li a:hover,
.main-nav li a:focus {
  background: #38C3FF;
}

/* OFF CANVAS MENU
  ================================ */
#offcanvas-toggle {
  position: absolute;
  opacity: 0;
}

@media screen and (min-width: 361px) {
  #offcanvas-toggle-label {
    position: absolute;
    opacity: 0;
  }
}
#offcanvas-toggle:checked ~ .wrapper .main-nav {
  transform: translate3d(7em, 0, 0);
  transition: transform .3s;
}

.wrapper {
  transform: translate3d(0);
  transition: transform .8s;
}

#offcanvas-toggle:checked ~ .wrapper {
  transform: translate3d(7em, 0, 0);
}

/* LOGO
  ================================ */
.site-logo {
  position: fixed;
  top: 14em;
  left: -14em;
  max-width: 3em;
  z-index: 2;
  transform: translate3d(0);
  transition: transform 1.3s;
}

#offcanvas-toggle:checked ~ .wrapper .site-logo {
  transform: translate3d(8.9em, 0, 0);
  transition: transform .3s;
}

/* SEARCH
  ================================ */
/* FOOTER
  ================================ */
.main-footer {
  background: #38C3FF;
  padding: 1em;
}
@media screen and (min-width: 361px) {
  .main-footer {
    background: #7AEC1E;
  }
}
@media screen and (min-width: 601px) {
  .main-footer {
    background: #ADADAD;
  }
}
@media screen and (min-width: 1025px) {
  .main-footer {
    background: #FF3B2E;
  }
}

/*
* GRID COMPONENT
* AUTHORED BY LENA FAURE
*/
.su_line {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.su_cell {
  padding: 0.5em;
  margin-bottom: 1em;
  word-wrap: break-word;
  width: 100%;
  box-sizing: border-box;
}

@media screen and (min-width: 601px) {
  .su_cell {
    -ms-flex: 1;
        flex: 1;
  }

  .su_gutters {
    margin-left: -1em;
  }

  .su_gutters .su_cell {
    margin-left: 1em;
  }

  /* Columns count */
  .su_cells_1 {
    -ms-flex: 0 0 calc(8.33333%);
        flex: 0 0 calc(8.33333%);
    max-width: calc(8.33333%);
  }

  .su_gutters .su_cells_1 {
    -ms-flex: 0 0 calc(8.33333% - 1em);
        flex: 0 0 calc(8.33333% - 1em);
    max-width: calc(8.33333% - 1em);
  }

  .su_cells_2 {
    -ms-flex: 0 0 calc(16.66667%);
        flex: 0 0 calc(16.66667%);
    max-width: calc(16.66667%);
  }

  .su_gutters .su_cells_2 {
    -ms-flex: 0 0 calc(16.66667% - 1em);
        flex: 0 0 calc(16.66667% - 1em);
    max-width: calc(16.66667% - 1em);
  }

  .su_cells_3 {
    -ms-flex: 0 0 calc(25%);
        flex: 0 0 calc(25%);
    max-width: calc(25%);
  }

  .su_gutters .su_cells_3 {
    -ms-flex: 0 0 calc(25% - 1em);
        flex: 0 0 calc(25% - 1em);
    max-width: calc(25% - 1em);
  }

  .su_cells_4 {
    -ms-flex: 0 0 calc(33.33333%);
        flex: 0 0 calc(33.33333%);
    max-width: calc(33.33333%);
  }

  .su_gutters .su_cells_4 {
    -ms-flex: 0 0 calc(33.33333% - 1em);
        flex: 0 0 calc(33.33333% - 1em);
    max-width: calc(33.33333% - 1em);
  }

  .su_cells_5 {
    -ms-flex: 0 0 calc(41.66667%);
        flex: 0 0 calc(41.66667%);
    max-width: calc(41.66667%);
  }

  .su_gutters .su_cells_5 {
    -ms-flex: 0 0 calc(41.66667% - 1em);
        flex: 0 0 calc(41.66667% - 1em);
    max-width: calc(41.66667% - 1em);
  }

  .su_cells_6 {
    -ms-flex: 0 0 calc(50%);
        flex: 0 0 calc(50%);
    max-width: calc(50%);
  }

  .su_gutters .su_cells_6 {
    -ms-flex: 0 0 calc(50% - 1em);
        flex: 0 0 calc(50% - 1em);
    max-width: calc(50% - 1em);
  }

  .su_cells_7 {
    -ms-flex: 0 0 calc(58.33333%);
        flex: 0 0 calc(58.33333%);
    max-width: calc(58.33333%);
  }

  .su_gutters .su_cells_7 {
    -ms-flex: 0 0 calc(58.33333% - 1em);
        flex: 0 0 calc(58.33333% - 1em);
    max-width: calc(58.33333% - 1em);
  }

  .su_cells_8 {
    -ms-flex: 0 0 calc(66.66667%);
        flex: 0 0 calc(66.66667%);
    max-width: calc(66.66667%);
  }

  .su_gutters .su_cells_8 {
    -ms-flex: 0 0 calc(66.66667% - 1em);
        flex: 0 0 calc(66.66667% - 1em);
    max-width: calc(66.66667% - 1em);
  }

  .su_cells_9 {
    -ms-flex: 0 0 calc(75%);
        flex: 0 0 calc(75%);
    max-width: calc(75%);
  }

  .su_gutters .su_cells_9 {
    -ms-flex: 0 0 calc(75% - 1em);
        flex: 0 0 calc(75% - 1em);
    max-width: calc(75% - 1em);
  }

  .su_cells_10 {
    -ms-flex: 0 0 calc(83.33333%);
        flex: 0 0 calc(83.33333%);
    max-width: calc(83.33333%);
  }

  .su_gutters .su_cells_10 {
    -ms-flex: 0 0 calc(83.33333% - 1em);
        flex: 0 0 calc(83.33333% - 1em);
    max-width: calc(83.33333% - 1em);
  }

  .su_cells_11 {
    -ms-flex: 0 0 calc(91.66667%);
        flex: 0 0 calc(91.66667%);
    max-width: calc(91.66667%);
  }

  .su_gutters .su_cells_11 {
    -ms-flex: 0 0 calc(91.66667% - 1em);
        flex: 0 0 calc(91.66667% - 1em);
    max-width: calc(91.66667% - 1em);
  }

  /* End columns count */
}
@media screen and (min-width: 961px) {
  .su_container {
    width: 960px;
    margin: 0 auto;
  }
}
.su_demo_hackhaton {
  padding: 2em;
  background-color: #fff;
}

.su_demo .su_cell {
  border: 1px solid #72c024;
  border-radius: 4px;
}

.su_demo .su_cell.su_accent-bg-light {
  border: 1px solid #da137f;
  border-radius: 4px;
}

/*
* END GRID COMPONENT
*/
