/* VARIABLES
  ================================ */
/* COLORS */
/* BREAKPOINTS */
/* BARGRAPH COLORS */
/* OTHER */
@import url("https://fonts.googleapis.com/css?family=Raleway:400,700");
.clearfix:after {
  content: " ";
  /* Older browser do not support empty content */
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

/* THE FOUNDATION
  ================================ */
* {
  box-sizing: border-box;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  font: 16px/1 sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
p,
blockquote,
figure,
ol,
ul {
  margin: 0;
  padding: 0;
}

p {
  line-height: 1.5em;
}

main,
li {
  display: block;
}

h1,
h2,
h3,
h4 {
  font-size: inherit;
}

strong {
  font-weight: bold;
}

a,
button {
  color: inherit;
  transition: .3s;
}

a {
  text-decoration: none;
}

button {
  overflow: visible;
  border: 0;
  font: inherit;
  -webkit-font-smoothing: inherit;
  letter-spacing: inherit;
  background: none;
  cursor: pointer;
}

::-moz-focus-inner {
  padding: 0;
  border: 0;
}

img {
  max-width: 100%;
  height: auto;
  border: 0;
}

/* TYPOGRAPHY
  ================================ */
p,
ul,
ol {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  letter-spacing: 0.1em;
}

h1 {
  font-size: 1.1em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: .9em;
}
@media screen and (min-width: 601px) {
  h4 {
    font-size: 1.2em;
  }
}

/* ACCORDION TABS
  ================================ */
.su_accordion {
  margin: 0 auto;
  max-width: 40rem;
  width: 100%;
}

@media screen and (min-width: 601px) {
  .su_cell.su_cells_8.su_accordion {
    padding-left: 0;
  }
}

.su_bellow {
  position: relative;
  width: 100%;
}

.su_bellow input {
  position: absolute;
  opacity: 0;
  top: 4px;
  right: 9px;
}

.su_bellow label {
  display: block;
  background-color: #38C3FF;
  padding: 15px;
  margin-bottom: 5px;
  cursor: pointer;
  transition: background .5s, color .5s;
  box-shadow: -2px 2px 4px 0px #8c8c8c;
}
@media screen and (min-width: 361px) {
  .su_bellow label {
    background-color: #7AEC1E;
  }
}
@media screen and (min-width: 601px) {
  .su_bellow label {
    background-color: #ADADAD;
    display: none;
  }
}
@media screen and (min-width: 1025px) {
  .su_bellow label {
    background-color: #FF3B2E;
  }
}

.su_bellow input:focus + label,
.su_bellow label:hover {
  background-color: #85daff;
}
@media screen and (min-width: 361px) {
  .su_bellow input:focus + label,
  .su_bellow label:hover {
    background-color: #a4f265;
  }
}
@media screen and (min-width: 601px) {
  .su_bellow input:focus + label,
  .su_bellow label:hover {
    background-color: lightgray;
  }
}
@media screen and (min-width: 1025px) {
  .su_bellow input:focus + label,
  .su_bellow label:hover {
    background-color: #ff837b;
  }
}

.su_bellow-content {
  max-height: 0;
  overflow: hidden;
  overflow-y: scroll;
  transition: all .5s;
}
@media screen and (min-width: 601px) {
  .su_bellow-content {
    max-height: initial;
    overflow: initial;
    overflow-y: initial;
    opacity: 0;
    position: absolute;
    padding: 8px 0px;
    box-shadow: 2px 2px 4px 0px #8c8c8c;
  }
}

.su_bellow-content p {
  padding-left: 10px;
  padding-right: 10px;
}

.su_bellow input:checked ~ .su_bellow-content {
  max-height: 12.5rem;
}
@media screen and (min-width: 601px) {
  .su_bellow input:checked ~ .su_bellow-content {
    opacity: 1;
    background: lightgray;
    max-height: initial;
  }
}
@media screen and (min-width: 1025px) {
  .su_bellow input:checked ~ .su_bellow-content {
    background: #ff837b;
  }
}

@media screen and (min-width: 601px) {
  .su_cell.su_cells_4.tabs-label {
    padding-right: 0;
  }
}

.tabs-label label {
  display: none;
  padding: 15px;
  text-align: center;
  background: inherit;
  cursor: pointer;
  margin-bottom: 5px;
  box-shadow: -2px 2px 4px 0px #8c8c8c;
}
@media screen and (min-width: 601px) {
  .tabs-label label {
    display: block;
    background-color: #ededed;
  }
}
@media screen and (min-width: 1025px) {
  .tabs-label label {
    background-color: #ffb3ae;
  }
}

@media screen and (min-width: 601px) {
  .tabs-label label:hover,
  .tabs-label label:focus {
    background-color: lightgray;
    transition: background .3s ease;
  }
}
@media screen and (min-width: 1025px) {
  .tabs-label label:hover,
  .tabs-label label:focus {
    background-color: #ff837b;
    transition: background .3s ease;
  }
}

/* BAR GRAPHS
  ================================ */
.total-bar {
  display: inline-block;
  padding: 8px;
  box-shadow: 0px 2px 4px 0px #8c8c8c;
  margin-top: 3em;
  color: #fff;
  font-weight: 700;
  font-size: .9em;
}
@media screen and (min-width: 361px) {
  .total-bar {
    padding: 10px;
    font-size: 1em;
  }
}
@media screen and (min-width: 601px) {
  .total-bar {
    padding: 15px;
    font-size: 1.2em;
  }
}

.frontend-bar {
  width: 70%;
  background: #FB5E5D;
}

.backend-bar {
  width: 30%;
  background: #4A6FEB;
  text-align: right;
}

.graphs-container h3 {
  text-align: center;
  margin-top: 1em;
}

.frontend-graph-container h3 {
  color: #FB5E5D;
}

.backend-graph-container h3 {
  color: #4A6FEB;
}

.other-skills-graph-container h3 {
  color: #A18CD0;
}

.frontend-graph,
.backend-graph,
.other-graph {
  border-bottom: 1px solid #000;
  max-width: 27em;
}

.other-graph {
  margin: auto;
}

.y-axis {
  position: relative;
  display: inline-block;
  margin-top: 4em;
  top: -2em;
}

.y-axis .y-li {
  margin-bottom: 3em;
  font-size: .8em;
  font-weight: 700;
  text-align: right;
}

.y-axis .y-li:last-child {
  margin-bottom: 0;
}

.bars {
  display: inline;
  margin-left: 3em;
  position: relative;
  bottom: -4px;
}

.bar-li {
  display: inline-block;
  width: 9%;
  height: 100px;
  list-style: none;
  position: relative;
  margin-right: .5em;
  box-shadow: 2px -2px 4px 0px #8c8c8c;
}
@media screen and (min-width: 601px) and (max-width: 786px) {
  .bar-li {
    width: 6%;
    margin-right: .3em;
  }
}

.bar-li:nth-child(1) {
  background: #ee4035;
}

.bar-li:nth-child(2) {
  background: #f37736;
}

.bar-li:nth-child(3) {
  background: #fdf498;
}

.bar-li:nth-child(4) {
  background: #7bc043;
}

.bar-li:nth-child(5) {
  background: #0392cf;
}

.x-axis {
  display: inline-block;
  margin-left: 9em;
  margin-top: 1em;
}

.other-skills-graph-container .x-axis {
  margin-left: 0em;
}
@media screen and (min-width: 601px) {
  .other-skills-graph-container .x-axis {
    margin-left: 20em;
  }
}

.x-li {
  display: inline-block;
  transform: rotate(45deg);
  font-size: .5em;
}

.backend-graph-container .x-li {
  padding-right: 2em;
}

/* CAROUSEL
  ================================ */
.carousel {
  position: relative;
}

.proj-1-slide-1,
.proj-2-slide-1 {
  position: relative;
  opacity: 1;
}

.proj-1-slide-2,
.proj-1-slide-3 {
  position: absolute;
  pointer-events: none;
  opacity: 0;
}

#proj-1-slide-1:checked ~ .proj-1-slide-1,
#proj-1-slide-2:checked ~ .proj-1-slide-2,
#proj-1-slide-3:checked ~ .proj-1-slide-3 {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1;
}

#proj-1-slide-2:checked ~ .proj-1-slide-1,
#proj-1-slide-2:checked ~ .proj-1-slide-3,
#proj-1-slide-3:checked ~ .proj-1-slide-1,
#proj-1-slide-3:checked ~ .proj-1-slide-2,
#proj-1-slide-1:checked ~ .proj-1-slide-2,
#proj-1-slide-1:checked ~ .proj-1-slide-3 {
  opacity: 0;
  position: absolute;
}

.carousel .carousel-nav {
  display: inline-block;
  background: initial;
  box-shadow: none;
  padding: 10px;
  position: relative;
  bottom: 0;
}

.slide-content {
  display: inline-block;
  max-width: 75%;
}

.carousel .carousel-nav:hover,
.carousel .carousel-nav:focus {
  color: red;
  background-color: initial;
}

/* MODAL
  ================================ */
.modal-container {
  width: 100%;
  height: 100%;
  position: fixed;
  opacity: 0;
  pointer-events: none;
  z-index: 99;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  transition: all .3s ease;
}

.modal-container:target {
  opacity: 1;
  pointer-events: auto;
}

.modal {
  width: 15em;
  height: 10em;
  margin: auto;
  color: #fff;
  position: absolute;
  opacity: 0;
  padding: 10px;
  z-index: 100;
  text-align: center;
  top: 0;
  right: 0;
  bottom: 10em;
  left: 0;
  transform: scale3d(0.5, 0.5, 1);
  background: rgba(0, 0, 0, 0.7);
  box-shadow: 0px 2px 4px 0px white;
  transition: all .6s ease;
}
@media screen and (min-width: 361px) {
  .modal {
    width: 20em;
  }
}
@media screen and (min-width: 601px) {
  .modal {
    width: 25em;
    height: 15em;
  }
}

.modal h4 {
  margin-top: 2em;
}

.modal-container:target > .modal {
  transform: scale3d(1, 1, 1);
  opacity: 1;
}

.close-icon {
  position: absolute;
  padding: 2px 3px;
  padding-bottom: 0px;
  color: #000;
  top: -25px;
  right: -25px;
  background: #fff;
  border-radius: 50%;
  transition: color .5s ease, background .5s ease;
}

.close-icon:hover,
.close-icon:focus {
  color: white;
  background: black;
}

.modal-content {
  position: relative;
  top: 5em;
  margin: auto;
}
@media screen and (min-width: 601px) {
  .modal-content {
    top: 8em;
  }
}

.modal-content:after {
  content: "Viewport Size \2264  360px";
  font-size: .8em;
}
@media screen and (min-width: 361px) {
  .modal-content:after {
    content: "361px \2264  Viewport Size \2264  600px";
  }
}
@media screen and (min-width: 601px) {
  .modal-content:after {
    content: "601px \2264  Viewport Size \2264  1024px";
    font-size: 1em;
  }
}
@media screen and (min-width: 1025px) {
  .modal-content:after {
    content: "1025px \2264  Viewport Size";
  }
}

/* MAIN NAV
  ================================ */
.nav-bar {
  background: linear-gradient(135deg, #2fa2d4 0%, #38c3ff 100%);
  padding: 1em;
  box-shadow: 0px 2px 4px 0px #8c8c8c;
}
@media screen and (min-width: 361px) {
  .nav-bar {
    background: linear-gradient(135deg, #66c21b 0%, #7aec1e 100%);
  }
}
@media screen and (min-width: 601px) {
  .nav-bar {
    background: linear-gradient(135deg, #918f91 0%, #adadad 100%);
  }
}
@media screen and (min-width: 1025px) {
  .nav-bar {
    background: linear-gradient(135deg, #c9332b 0%, #ff3c2e 100%);
  }
}

.nav-bar .su_container {
  text-align: center;
}

.main-nav {
  position: fixed;
  display: inline-block;
  top: 0;
  left: -16em;
  width: 8em;
  height: 100%;
  background: #fff;
  text-align: center;
  transform: translate3d(0);
  transition: transform 1.3s;
  box-shadow: 2px 0px 4px 0px #8c8c8c;
}
@media screen and (min-width: 601px) {
  .main-nav {
    position: initial;
    display: inline;
    background: inherit;
    box-shadow: none;
  }
}

@media screen and (min-width: 601px) {
  .main-nav li {
    display: inline-block;
  }
}

.main-nav li a {
  display: block;
  padding: 1em;
  text-transform: uppercase;
  font-weight: 700;
}
@media screen and (min-width: 601px) {
  .main-nav li a {
    display: inline-block;
  }
}

.main-nav li a:hover,
.main-nav li a:focus {
  background: #38C3FF;
}
@media screen and (min-width: 361px) {
  .main-nav li a:hover,
  .main-nav li a:focus {
    background: #7AEC1E;
  }
}
@media screen and (min-width: 601px) {
  .main-nav li a:hover,
  .main-nav li a:focus {
    background: #fff;
  }
}

/* OFF CANVAS MENU
  ================================ */
#offcanvas-toggle {
  position: absolute;
  opacity: 0;
}

#offcanvas-toggle-label i {
  float: left;
  line-height: 1.5em;
}

@media screen and (min-width: 601px) {
  #offcanvas-toggle-label {
    position: absolute;
    opacity: 0;
  }
}
#offcanvas-toggle:checked ~ .wrapper .main-nav {
  transform: translate3d(8em, 0, 0);
  transition: transform .3s;
}

.wrapper {
  transform: translate3d(0);
  transition: transform .8s;
}

#offcanvas-toggle:checked ~ .wrapper {
  transform: translate3d(8em, 0, 0);
}

/* LOGO
  ================================ */
.brand {
  float: left;
  display: inline-block;
}

.site-logo {
  position: fixed;
  top: 15em;
  left: -14em;
  max-width: 3em;
  z-index: 2;
  transform: translate3d(0);
  transition: transform 1.3s;
}
@media screen and (min-width: 601px) {
  .site-logo {
    position: initial;
    max-width: 2em;
  }
}

#offcanvas-toggle:checked ~ .wrapper .site-logo {
  transform: translate3d(8.9em, 0, 0);
  transition: transform .3s;
}

.site-name {
  display: none;
  margin-left: 2em;
  line-height: 3em;
  vertical-align: top;
  transition: color .3s ease;
}
@media screen and (min-width: 866px) {
  .site-name {
    display: inline-block;
  }
}
@media screen and (max-width: 600px) and (min-width: 420px) {
  .site-name {
    display: inline-block;
  }
}

h1.site-name:hover {
  color: #fff;
}

/* SEARCH
  ================================ */
.site-search {
  float: right;
  position: relative;
}
@media screen and (min-width: 601px) and (max-width: 686px) {
  .site-search {
    display: inline-block;
    float: initial;
    top: -.5em;
    margin: auto;
  }
}
@media screen and (min-width: 687px) {
  .site-search {
    float: right;
    top: initial;
    margin: initial;
  }
}

.search-input {
  padding: 5px 10px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  font-size: inherit;
  background: inherit;
  text-align: center;
  border-bottom: 1px solid #000;
  transition: background .3s ease, border-bottom .3s ease;
}
@media screen and (min-width: 601px) {
  .search-input {
    padding: 10px;
  }
}

.search-label {
  position: absolute;
  bottom: .4em;
  left: .5em;
  transform: translate3d(0, 0, 0);
  transition: transform .3s ease;
}
@media screen and (min-width: 601px) {
  .search-label {
    bottom: .6em;
  }
}

.search-icon {
  position: absolute;
  right: .5em;
  bottom: .05em;
  transition: transform .3s ease, color .3s ease;
}
@media screen and (min-width: 601px) {
  .search-icon {
    bottom: .2em;
  }
}

.search-input:focus {
  background: #fff;
  border-color: #fff;
  transition: background 0.3s ease, border-bottom 0.3s ease;
}

.search-input:focus + .search-label {
  transform: translate3d(0, 1.7em, 0);
  color: #fff;
  transition: transform .3s ease, color .3s ease;
}
@media screen and (min-width: 601px) {
  .search-input:focus + .search-label {
    transform: translate3d(0, 2em, 0);
  }
}

.search-input:focus ~ .search-icon {
  color: #fff;
  transform: translate3d(0, 1.7em, 0);
}
@media screen and (min-width: 601px) {
  .search-input:focus ~ .search-icon {
    transform: translate3d(0, 2em, 0);
  }
}

/* ABOUT
  ================================ */
/* CONTACT
  ================================ */
/* FOOTER
  ================================ */
.main-footer {
  background: linear-gradient(135deg, #2fa2d4 0%, #38c3ff 100%);
  padding: 1em;
  box-shadow: 0px -2px 4px 0px #8c8c8c;
}
@media screen and (min-width: 361px) {
  .main-footer {
    background: linear-gradient(135deg, #66c21b 0%, #7aec1e 100%);
  }
}
@media screen and (min-width: 601px) {
  .main-footer {
    background: linear-gradient(135deg, #918f91 0%, #adadad 100%);
  }
}
@media screen and (min-width: 1025px) {
  .main-footer {
    background: linear-gradient(135deg, #c9332b 0%, #ff3c2e 100%);
  }
}

/* GRID (AUTHORED BY LENA FAURE)
  ================================ */
.su_line {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.su_cell {
  padding: 0.5em;
  margin-bottom: 1em;
  word-wrap: break-word;
  width: 100%;
  box-sizing: border-box;
}

@media screen and (min-width: 601px) {
  .su_cell {
    -ms-flex: 1;
        flex: 1;
  }

  .su_gutters {
    margin-left: -1em;
  }

  .su_gutters .su_cell {
    margin-left: 1em;
  }

  /* Columns count */
  .su_cells_1 {
    -ms-flex: 0 0 calc(8.33333%);
        flex: 0 0 calc(8.33333%);
    max-width: calc(8.33333%);
  }

  .su_gutters .su_cells_1 {
    -ms-flex: 0 0 calc(8.33333% - 1em);
        flex: 0 0 calc(8.33333% - 1em);
    max-width: calc(8.33333% - 1em);
  }

  .su_cells_2 {
    -ms-flex: 0 0 calc(16.66667%);
        flex: 0 0 calc(16.66667%);
    max-width: calc(16.66667%);
  }

  .su_gutters .su_cells_2 {
    -ms-flex: 0 0 calc(16.66667% - 1em);
        flex: 0 0 calc(16.66667% - 1em);
    max-width: calc(16.66667% - 1em);
  }

  .su_cells_3 {
    -ms-flex: 0 0 calc(25%);
        flex: 0 0 calc(25%);
    max-width: calc(25%);
  }

  .su_gutters .su_cells_3 {
    -ms-flex: 0 0 calc(25% - 1em);
        flex: 0 0 calc(25% - 1em);
    max-width: calc(25% - 1em);
  }

  .su_cells_4 {
    -ms-flex: 0 0 calc(33.33333%);
        flex: 0 0 calc(33.33333%);
    max-width: calc(33.33333%);
  }

  .su_gutters .su_cells_4 {
    -ms-flex: 0 0 calc(33.33333% - 1em);
        flex: 0 0 calc(33.33333% - 1em);
    max-width: calc(33.33333% - 1em);
  }

  .su_cells_5 {
    -ms-flex: 0 0 calc(41.66667%);
        flex: 0 0 calc(41.66667%);
    max-width: calc(41.66667%);
  }

  .su_gutters .su_cells_5 {
    -ms-flex: 0 0 calc(41.66667% - 1em);
        flex: 0 0 calc(41.66667% - 1em);
    max-width: calc(41.66667% - 1em);
  }

  .su_cells_6 {
    -ms-flex: 0 0 calc(50%);
        flex: 0 0 calc(50%);
    max-width: calc(50%);
  }

  .su_gutters .su_cells_6 {
    -ms-flex: 0 0 calc(50% - 1em);
        flex: 0 0 calc(50% - 1em);
    max-width: calc(50% - 1em);
  }

  .su_cells_7 {
    -ms-flex: 0 0 calc(58.33333%);
        flex: 0 0 calc(58.33333%);
    max-width: calc(58.33333%);
  }

  .su_gutters .su_cells_7 {
    -ms-flex: 0 0 calc(58.33333% - 1em);
        flex: 0 0 calc(58.33333% - 1em);
    max-width: calc(58.33333% - 1em);
  }

  .su_cells_8 {
    -ms-flex: 0 0 calc(66.66667%);
        flex: 0 0 calc(66.66667%);
    max-width: calc(66.66667%);
  }

  .su_gutters .su_cells_8 {
    -ms-flex: 0 0 calc(66.66667% - 1em);
        flex: 0 0 calc(66.66667% - 1em);
    max-width: calc(66.66667% - 1em);
  }

  .su_cells_9 {
    -ms-flex: 0 0 calc(75%);
        flex: 0 0 calc(75%);
    max-width: calc(75%);
  }

  .su_gutters .su_cells_9 {
    -ms-flex: 0 0 calc(75% - 1em);
        flex: 0 0 calc(75% - 1em);
    max-width: calc(75% - 1em);
  }

  .su_cells_10 {
    -ms-flex: 0 0 calc(83.33333%);
        flex: 0 0 calc(83.33333%);
    max-width: calc(83.33333%);
  }

  .su_gutters .su_cells_10 {
    -ms-flex: 0 0 calc(83.33333% - 1em);
        flex: 0 0 calc(83.33333% - 1em);
    max-width: calc(83.33333% - 1em);
  }

  .su_cells_11 {
    -ms-flex: 0 0 calc(91.66667%);
        flex: 0 0 calc(91.66667%);
    max-width: calc(91.66667%);
  }

  .su_gutters .su_cells_11 {
    -ms-flex: 0 0 calc(91.66667% - 1em);
        flex: 0 0 calc(91.66667% - 1em);
    max-width: calc(91.66667% - 1em);
  }

  /* End columns count */
}
@media screen and (min-width: 601px) {
  .su_container {
    max-width: 960px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1025px) {
  .su_container {
    max-width: 1025px;
  }
}

.su_demo_hackhaton {
  padding: 2em;
  background-color: #fff;
}

.su_demo .su_cell {
  border: 1px solid #72c024;
  border-radius: 4px;
}

.su_demo .su_cell.su_accent-bg-light {
  border: 1px solid #da137f;
  border-radius: 4px;
}

/*
* END GRID COMPONENT
*/
/* MAIN
  ================================ */
.main-content {
  padding: 1em;
}

.content-about,
.content-projects,
.content-skills,
.content-contact {
  min-height: 40em;
}

/* PROJECTS
  ================================ */
/* SKILLS
  ================================ */
