/* VARIABLES
  ================================ */

/* COLORS */
$offcanvas-bg: #fff;
$small-bg-color: linear-gradient(135deg, rgba(47,162,212,1) 0%, rgba(56,195,255,1) 100%);
$medium-bg-color: linear-gradient(135deg, rgba(102,194,27,1) 0%, rgba(122,236,30,1) 100%);
$large-bg-color: linear-gradient(135deg, rgba(145,143,145,1) 0%, rgba(173,173,173,1) 100%);
$huge-bg-color: linear-gradient(135deg, rgba(201,51,43,1) 0%, rgba(255,60,46,1) 100%);

$small-nav-color: #38C3FF;
$medium-nav-color: #7AEC1E;
$large-nav-color: #ADADAD;
$huge-nav-color: #FF3B2E;
$new-color-variable: rgb(82, 207, 176)

//  blue #38C3FF;
// green #7AEC1E;
// gray #ADADAD;
// red #FF3B2E;

/* BREAKPOINTS */
$medium: 361px;
$large: 601px;
$huge: 1025px;

/* BARGRAPH COLORS */
$red: #ee4035;
$orange: #f37736;
$yellow: #fdf498;
$green: #7bc043;
$blue: #0392cf;
// $breakpoints: (
//   'medium': (min-width: 361px),
//   'large': (min-width: 601px),
//   'huge': (min-width: 1025px),
// );


/* OTHER */

.clearfix:after {
   content: " "; /* Older browser do not support empty content */
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}
