/* VARIABLES
  ================================ */

/* COLORS */
$offcanvas-bg: #fff;
$small-bg-color: #38C3FF;
$medium-bg-color: #7AEC1E;
$large-bg-color: #ADADAD;
$huge-bg-color: #FF3B2E;

/* BREAKPOINTS */
$medium: 361px;
$large: 601px;
$huge: 1025px;

// $breakpoints: (
//   'medium': (min-width: 361px),
//   'large': (min-width: 601px),
//   'huge': (min-width: 1025px),
// );


/* OTHER */

.clearfix:after {
   content: " "; /* Older browser do not support empty content */
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}
