/* FOOTER
  ================================ */

.main-footer {
  background: $small-bg-color;
  padding: 1em;
  box-shadow: 0px -2px 4px 0px rgba(140,140,140,1);

  @media screen and (min-width: $medium) {
    background: $medium-bg-color;
  }

  @media screen and (min-width: $large) {
    background: $large-bg-color;
  }

  @media screen and (min-width: $huge) {
    background: $huge-bg-color;
  }
}

.main-footer p {
  text-align: center;
}
