/* BAR GRAPHS
  ================================ */

.total-bar {
  box-shadow: 0px 2px 4px 0px rgba(140,140,140,1);
  color: #fff;
  display: inline-block;
  font-size: .9em;
  font-weight: 700;
  margin-top: 3em;
  padding: 8px;

  @media screen and (min-width: $medium) {
    font-size: 1em;
    padding: 10px;
  }

  @media screen and (min-width: $large) {
    font-size: 1.2em;
    padding: 15px;
  }
}

.frontend-bar {
  background: #FB5E5D;
  width: 80%;
}

.backend-bar {
  background: #4A6FEB;
  text-align: right;
  width: 20%;
}

.graphs-container h3 {
  margin-top: 1em;
  text-align: center;
}

.frontend-graph-container h3 {
  color: #FB5E5D;
}

.backend-graph-container h3 {
  color: #4A6FEB;
}

.other-skills-graph-container h3 {
  color: #A18CD0;
}

.frontend-graph,
.backend-graph,
.other-graph {
  border-bottom: 1px solid #000;
  max-width: 27em;
}

.other-graph {
  margin: auto;

}

.y-axis {
  display: inline-block;
  margin-top: 4em;
  position: relative;
  top: -2em;
}

.y-axis .y-li {
  font-size: .8em;
  font-weight: 700;
  margin-bottom: 3em;
  text-align: right;
}

.y-axis .y-li:last-child {
  // padding-bottom: 10px;
  margin-bottom: 0;
}

.bars {
  // float: right;
  bottom: -4px;
  display: inline;
  margin-left: 10%;
  position: relative;

  @media screen and (min-width: $large) and (max-width: 833px) {
    // margin-left: 1em;
  }
}

.bar-li {
  // height: 100px;
  // height: attr(data-height);
  // padding: 0;
  // width: 9%;
  box-shadow: 2px -2px 4px 0px rgba(140,140,140,1);
  display: inline-block;
  list-style: none;
  margin-right: .5em;
  position: relative;
  width: 7%;

  @media screen and (min-width: $large) {
    margin-right: .3em;
    width: 8%;
  }
  @media screen and (min-width: $huge) {
    width: 9%;
  }
  // @media screen and (min-width: $large) and (max-width: 786px) {
    // width: 6%;
    // margin-right: .3em;
  // }
}

.bar-li:nth-child(1) {
  background: $red;
}

.bar-li:nth-child(2) {
  background: $orange;
}

.bar-li:nth-child(3) {
  background: $yellow;
}

.bar-li:nth-child(4) {
  background: $green;
}

.bar-li:nth-child(5) {
  background: $blue;
}

/* Frontend Bar Graph Heights */
.frontend-graph .bar-li:nth-child(1) {
  height: 6.4em;
}
.frontend-graph .bar-li:nth-child(2) {
  height: 9.4em;
}
.frontend-graph .bar-li:nth-child(3) {
  height: 2em;
}
.frontend-graph .bar-li:nth-child(4) {
  height: 2em;
}
.frontend-graph .bar-li:nth-child(5) {
  height: 7.5em;
}

/* Backend Bar Graph Heights */
.backend-graph .bar-li:nth-child(1) {
  height: 2em;
}
.backend-graph .bar-li:nth-child(2) {
  height: 3em;
}
.backend-graph .bar-li:nth-child(3) {
  height: 5em;
}
.backend-graph .bar-li:nth-child(4) {
  height: 3em;
}
.backend-graph .bar-li:nth-child(5) {
  height: 2em;
}

/* Other Bar Graph Heights */
.other-graph .bar-li:nth-child(1) {
  height: 11em;
}
.other-graph .bar-li:nth-child(2) {
  height: 8.5em;
}
.other-graph .bar-li:nth-child(3) {
  height: 6.5em;
}
.other-graph .bar-li:nth-child(4) {
  height: 3em;
}
.other-graph .bar-li:nth-child(5) {
  height: 2.7em;
}

/*  Tooltip Code */
.bar-li:before,
.bar-li:after {
  display: block;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  transition: all .3s ease-in-out;
  z-index: 50;
}
.bar-li:after {
  border-bottom: 6px solid rgba(0,0,0,.75);
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  content: '';
  height: 0;
  left: 15px;
  top: 20px;
  width: 0;
}
.bar-li:before {
  // border-radius: 2px;
  // padding: 20px 40px;
  // white-space: nowrap;
  background: rgba(0,0,0,.75);
  color: #fff;
  content: attr(data-tooltip);
  font-family: "Helvetica", sans-serif;
  font-size: 12px;
  left: -5em;
  line-height: 1.5em;
  padding: 6px 10px;
  top: 26px;
  width: 150px;
}

.bar-li:hover:after,
.bar-li:hover:before {
  opacity: 1;
}
/* End Tooltip Code */

.x-axis {
  // margin-left: 9em;
  // margin-right: auto;
  display: inline-block;
  font-size: .75em;
  font-weight: 700;
  margin-left: 23%;
  margin-top: 3em;
  @media screen and (min-width: 450px) {
    margin-left: 18%;
  }
  @media screen and (min-width: 550px) {
    margin-left: 12%;
  }
  @media screen and (min-width: 701px) {
    margin-left: 10%;
  }
  @media screen and (min-width: 801px) {
    margin-left: 8%;
  }
  @media screen and (min-width: 901px) {
    margin-left: 6%;
  }
  @media screen and (min-width: $huge) {
    margin-left: 2%;
  }
  @media screen and (min-width: 1120px) {
    margin-left: 0;
  }
}

.other-skills-graph-container .x-axis {
  // margin-left: 0em;
  margin-bottom: 6em;
  margin-top: 6em;

  @media screen and (min-width: $large) {
      // margin-left: 26em;
      // margin-top: 2.5em;

      // .x-li:nth-child(2) {
      //   margin-left: -7em;
      // }
      // .x-li:nth-child(3) {
      //   margin-left: -5em;
      // }
      // .x-li:nth-child(4) {
      //   margin-left: -5.5em;
      // }
      // .x-li:nth-child(5) {
      //   margin-left: -2em;
      // }

  }
}

.x-li {
  // font-size: 1em;
  // margin-bottom: 10%;
  // padding-right: 1em;
  // position: absolute;
  display: inline-block;
  position: absolute;
  transform: rotate(55deg);
}
.x-li:nth-child(1) {
  margin-left: 10%;
  @media screen and (min-width: 550px) {
    margin-left:12%
  }
  @media screen and (min-width: $large) {
    // margin-left: 5%;
  }
  @media screen and (min-width: 801px) {
    // margin-left: ;
  }
  @media screen and (min-width: $huge) {
    // margin-left: ;
  }
  @media screen and (min-width: 1120px) {
    // margin-left: ;
  }
  @media screen and (min-width: 1180px) {
    margin-left: 11%;
  }
}
.x-li:nth-child(2) {
  margin-left: 20%;
  @media screen and (min-width: 550px) {
    // margin-left: 1%
  }
  @media screen and (min-width: $large) {
    margin-left: 17%;
  }
  @media screen and (min-width: 801px) {
    // margin-left: ;
  }
  @media screen and (min-width: $huge) {
    margin-left: 16%;
  }
  @media screen and (min-width: 1120px) {
    // margin-left: ;
  }
  @media screen and (min-width: 1180px) {
    margin-left: 15%;
  }
}
.x-li:nth-child(3) {
  margin-left: 30%;
  @media screen and (min-width: 550px) {
    // margin-left:15%
  }
  @media screen and (min-width: $large) {
    margin-left: 24%;
  }
  @media screen and (min-width: 801px) {
    margin-left: 22%;
  }
  @media screen and (min-width: $huge) {
    margin-left: 21%;
  }
  @media screen and (min-width: 1120px) {
    // margin-left: ;
  }
  @media screen and (min-width: 1180px) {
    margin-left: 20%;
  }
}
.x-li:nth-child(4) {
  margin-left: 40%;
  @media screen and (min-width: 550px) {
    margin-left: 38%
  }
  @media screen and (min-width: $large) {
    margin-left: 29%;
  }
  @media screen and (min-width: 801px) {
    margin-left: 27%;
  }
  @media screen and (min-width: $huge) {
    margin-left: 26%;
  }
  @media screen and (min-width: 1120px) {
    // margin-left: ;
  }
  @media screen and (min-width: 1180px) {
    margin-left: 24%;
  }
}
.x-li:nth-child(5) {
  margin-left: 50%;
  @media screen and (min-width: 550px) {
    margin-left: 45%;
  }
  @media screen and (min-width: $large) {
    margin-left: 32%;
  }
  @media screen and (min-width: 801px) {
    // margin-left: ;
  }
  @media screen and (min-width: $huge) {
    margin-left: 30%;
  }
  @media screen and (min-width: 1120px) {
    // margin-left: ;
  }
  @media screen and (min-width: 1180px) {
    margin-left: 28%;
  }
}

.other-skills-graph-container .x-li:nth-child(1) {
  margin-left: 5%;
  @media screen and (min-width: 550px) {
    margin-left: 14%;
  }
  @media screen and (min-width: $large) {
    margin-left: 16%;
  }
  @media screen and (min-width: 701px) {
    margin-left: 22%;
  }
  @media screen and (min-width: 801px) {
    margin-left: 25%;
  }
  @media screen and (min-width: 901px) {
    margin-left: 30%;
  }
  @media screen and (min-width: $huge) {
    margin-left: 35%;
  }
  @media screen and (min-width: 1120px) {
    // margin-left: ;
  }
  @media screen and (min-width: 1180px) {
    margin-left: 33%;
  }
  @media screen and (min-width: 1225px) {
    margin-left: 32%;
  }
  @media screen and (min-width: 1280px) {
    margin-left: 31%;
  }
}
.other-skills-graph-container .x-li:nth-child(2) {
  margin-left: 18%;
  margin-top: -1em;
  @media screen and (min-width: 550px) {
    margin-left: 25%;
  }
  @media screen and (min-width: $large) {
    margin-left: 27%;
  }
  @media screen and (min-width: 701px) {
    margin-left: 30%;
  }
  @media screen and (min-width: 801px) {
    margin-left: 32%;
  }
  @media screen and (min-width: 901px) {
    margin-left: 36%;
  }
  @media screen and (min-width: $huge) {
    margin-left: 41%;
  }
  @media screen and (min-width: 1120px) {
    // margin-left: ;
  }
  @media screen and (min-width: 1180px) {
    margin-left: 39%;
  }
  @media screen and (min-width: 1225px) {
    margin-left: 38%;
  }
  @media screen and (min-width: 1280px) {
    margin-left: 36%;
  }
}
.other-skills-graph-container .x-li:nth-child(3) {
  margin-left: 25%;
  @media screen and (min-width: 550px) {
    margin-left: 32%;
  }
  @media screen and (min-width: $large) {
    margin-left: 33%;
  }
  @media screen and (min-width: 701px) {
    margin-left: 36%;
  }
  @media screen and (min-width: 801px) {
    // margin-left: ;
  }
  @media screen and (min-width: 901px) {
    margin-left: 40%;
  }
  @media screen and (min-width: $huge) {
    margin-left: 45%;
  }
  @media screen and (min-width: 1120px) {
    // margin-left: ;
  }
  @media screen and (min-width: 1180px) {
    margin-left: 43%;
  }
  @media screen and (min-width: 1225px) {
    margin-left: 41%;
  }
  @media screen and (min-width: 1280px) {
    margin-left: 40%;
  }
}
.other-skills-graph-container .x-li:nth-child(4) {
  margin-left: 40%;
  margin-top: -2.5em;
  @media screen and (min-width: 550px) {
    margin-left: 43%;
  }
  @media screen and (min-width: $large) {
    margin-left: 44%;
  }
  @media screen and (min-width: 701px) {
    margin-left: 45%;
  }
  @media screen and (min-width: 801px) {
    // margin-left: ;
  }
  @media screen and (min-width: 901px) {
    margin-left: 48%;
  }
  @media screen and (min-width: $huge) {
    margin-left: 52%;
  }
  @media screen and (min-width: 1120px) {
    // margin-left: ;
  }
  @media screen and (min-width: 1180px) {
    margin-left: 48.5%;
  }
  @media screen and (min-width: 1225px) {
    margin-left: 47%;
  }
  @media screen and (min-width: 1280px) {
    margin-left: 45%;
  }
}
.other-skills-graph-container .x-li:nth-child(5) {
  margin-left: 48%;
  margin-top: -2em;
  @media screen and (min-width: 550px) {
    // margin-left: ;
  }
  @media screen and (min-width: $large) {
    margin-left: 50%;
  }
  @media screen and (min-width: 701px) {
    // margin-left: ;
  }
  @media screen and (min-width: 801px) {
    margin-left: 49%;
  }
  @media screen and (min-width: 901px) {
    margin-left: 52%;
  }
  @media screen and (min-width: $huge) {
    margin-left: 55%;
  }
  @media screen and (min-width: 1120px) {
    // margin-left: ;
  }
  @media screen and (min-width: 1180px) {
    margin-left: 51.5%;
  }
  @media screen and (min-width: 1225px) {
    margin-left: 50%;
  }
  @media screen and (min-width: 1280px) {
    margin-left: 48%;
  }
}

.backend-graph-container .x-li {
  // padding-right: 2em;
}
