/* BUSINESS CARD
  ================================ */
.businessCardWrap {
    -moz-perspective: 1000px;
    -moz-transform-style: preserve-3d;
    -o-perspective: 1000px;
    -o-transform-style: preserve-3d;
    -webkit-perspective: 1000px;
    -webkit-transform-style: preserve-3d;
    // -moz-transform: translate(-50%, -50%);
    // -o-transform: translate(-50%, -50%);
    // -webkit-transform: translate(-50%, -50%);
    // left: 50%;
    // position: absolute;
    // top: 50%;
    // transform: translate(-50%, -50%);
    cursor: pointer;
    display: block;
    height: 200px;
    margin: 2.5em auto;
    perspective: 1000px;
    transform-style: preserve-3d;
    width: 300px;
}

.card {
    -moz-transform-style: preserve-3d;
    -moz-transition: all 600ms;
    -o-transform-style: preserve-3d;
    -o-transition: all 600ms;
    -webkit-transform-style: preserve-3d;
    -webkit-transition: all 600ms;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: all 600ms;
    width: 100%;
    z-index: 20;
}

    .card div {
        -moz-backface-visibility: hidden;
        -o-backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
        /* background: #FFF; */
        /* border-radius: 2px; */
        /* line-height: 200px; */
        /* padding: 10px; */
        backface-visibility: hidden;
        color: white;
        font-family: 'Open Sans', sans-serif;
        height: 100%;
        position: absolute;
        text-align: left;
        width: 100%;
    }
    .front {
      background: url("https://user-images.githubusercontent.com/1489880/28473503-dd2a20dc-6e12-11e7-8e95-5f22f902ee5c.png") top no-repeat black;
    }
    .back {
      background: url("https://user-images.githubusercontent.com/1489880/28573136-99850600-7117-11e7-842a-6ffff8b2c334.jpg") orange;
      background-size: 100%;
    }
    .businessCardIcon {
      position: absolute;
      right: 5px;
      top: 5px;
    }
    .back .businessCardIcon {
      color: black;
    }
    .name,
    .title,
    .description,
    .email,
    .website,
    .encyclopedia,
    .encyclopedia-logo {
      margin-left: 10px;
    }
    .name {
      font-size: 24px;
      font-weight: 100;
      margin-bottom: 0;
      margin-top: 10px;
    }
    .title {
      font-size: 12px;
      margin-bottom: 15px;
      margin-top: 0;
    }
    .description,
    .email,
    .website,
    .encyclopedia {
      font-size: 10px;
     }
    .description {
      margin-right: 10px;
      margin-top: 0;
    }
    .encyclopedia,
    .encyclopedia-logo,
    .social {
      display: inline-block;
    }
    .encyclopedia {
      vertical-align: center;
    }
    .social {
      list-style: none;
      margin-top: 5px;
    }
    .social li {
      display: inline;
      margin-right: 5px;
    }
    .social li:last-child {
      margin-right: 10px;
    }
    .businessCardImg {
      max-width: 25px;
    }
    .businessCardLinks {
      color: #8D58CF;
    }

    .card .back {
        -moz-transform: rotateX(180deg);
        -o-transform: rotateX(180deg);
        -webkit-transform: rotateX(180deg);
        /* background: #222; */
        color: #FFF;
        transform: rotateX(180deg);
    }

.businessCardWrap:hover .card {
    -moz-transform: rotateX(20deg);
    -o-transform: rotateX(20deg);
    -webkit-transform: rotateX(20deg);
    box-shadow: 0 20px 20px rgba(50,50,50,.2);
    transform: rotateX(20deg);
}

.businessCardInput {
    display: none;
}

:checked + .card {
    -moz-transform: rotateX(180deg);
    -o-transform: rotateX(180deg);
    -webkit-transform: rotateX(180deg);
    transform: rotateX(180deg);
}

.businessCardWrap:hover :checked + .card {
    -moz-transform: rotateX(160deg);
    -o-transform: rotateX(160deg);
    -webkit-transform: rotateX(160deg);
    box-shadow: 0 20px 20px rgba(255,255,255,.2);
    transform: rotateX(160deg);
}
