/* CAROUSEL
  ================================ */

.carousel {
  position: relative;
}

.proj-1-slide-1,
.proj-2-slide-1 {
  // display: block;
  position: relative;
  // top:0;
  // left:0;
  opacity: 1;
}

.proj-1-slide-2,
.proj-1-slide-3 {
  position: absolute;
  pointer-events: none;
  opacity: 0;
}

#proj-1-slide-1:checked ~ .proj-1-slide-1,
#proj-1-slide-2:checked ~ .proj-1-slide-2,
#proj-1-slide-3:checked ~ .proj-1-slide-3 {
  // display: block;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1;
}

#proj-1-slide-2:checked ~ .proj-1-slide-1,
#proj-1-slide-2:checked ~ .proj-1-slide-3,
#proj-1-slide-3:checked ~ .proj-1-slide-1,
#proj-1-slide-3:checked ~ .proj-1-slide-2,
#proj-1-slide-1:checked ~ .proj-1-slide-2,
#proj-1-slide-1:checked ~ .proj-1-slide-3 {
  opacity: 0;
  position: absolute;
}


.carousel .carousel-nav {
  display: inline-block;
  // position: absolute;
  background: initial;
  box-shadow: none;
  padding: 10px;
  position: relative;
  bottom: 0;
}

.slide-content {
  display: inline-block;
  max-width: 75%;
}

.carousel .carousel-nav:hover,
.carousel .carousel-nav:focus {
color: red;
background-color: initial;
}
