/* CAROUSEL
  ================================ */

.carousel {
  // z-index: -200;
}

.carousel input[id|="proj"] {
  // visibility: hidden;
  display: none;
}

div[class|="proj"] {
  // display: none;
  // overflow-y: scroll;
  align-content: center;
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  width: 100%;
}


.evo_c-accordion__content.is-expanded .carousel .proj-1-slide-1,
.evo_c-accordion__content.is-expanded .carousel .proj-2-slide-1,
.evo_c-accordion__content.is-expanded .carousel .proj-3-slide-1,
.evo_c-accordion__content.is-expanded .carousel .proj-4-slide-1,
.evo_c-accordion__content.is-expanded .carousel .proj-5-slide-1 {
  // display: initial;
  opacity: 1;
  pointer-events: initial;
  transition: opacity .3s ease;
//   // display: block;
//   // left:0;
//   // top:0;
//   position: relative;
}

// .proj-1-slide-2,
// .proj-1-slide-3 {
//   position: absolute;
//   // pointer-events: none;
//   opacity: 0;
// }

/* When an accordion bellow is expanded, make the first slide of its carousel
   active by bringing its opacity to 1.*/
.evo_c-accordion__content.is-expanded #proj-1-slide-1:checked ~ .proj-1-slide-1,
.evo_c-accordion__content.is-expanded #proj-1-slide-2:checked ~ .proj-1-slide-2,
.evo_c-accordion__content.is-expanded #proj-1-slide-3:checked ~ .proj-1-slide-3,
.evo_c-accordion__content.is-expanded #proj-1-slide-4:checked ~ .proj-1-slide-4,
.evo_c-accordion__content.is-expanded #proj-2-slide-1:checked ~ .proj-2-slide-1,
.evo_c-accordion__content.is-expanded #proj-2-slide-2:checked ~ .proj-2-slide-2,
.evo_c-accordion__content.is-expanded #proj-2-slide-3:checked ~ .proj-2-slide-3,
.evo_c-accordion__content.is-expanded #proj-2-slide-4:checked ~ .proj-2-slide-4,
.evo_c-accordion__content.is-expanded #proj-3-slide-1:checked ~ .proj-3-slide-1,
.evo_c-accordion__content.is-expanded #proj-3-slide-2:checked ~ .proj-3-slide-2,
.evo_c-accordion__content.is-expanded #proj-3-slide-3:checked ~ .proj-3-slide-3,
.evo_c-accordion__content.is-expanded #proj-3-slide-4:checked ~ .proj-3-slide-4,
.evo_c-accordion__content.is-expanded #proj-4-slide-1:checked ~ .proj-4-slide-1,
.evo_c-accordion__content.is-expanded #proj-4-slide-2:checked ~ .proj-4-slide-2,
.evo_c-accordion__content.is-expanded #proj-4-slide-3:checked ~ .proj-4-slide-3,
.evo_c-accordion__content.is-expanded #proj-4-slide-4:checked ~ .proj-4-slide-4,
.evo_c-accordion__content.is-expanded #proj-5-slide-1:checked ~ .proj-5-slide-1,
.evo_c-accordion__content.is-expanded #proj-5-slide-2:checked ~ .proj-5-slide-2,
.evo_c-accordion__content.is-expanded #proj-5-slide-3:checked ~ .proj-5-slide-3,
.evo_c-accordion__content.is-expanded #proj-5-slide-4:checked ~ .proj-5-slide-4 {
  opacity: 1;
  pointer-events: initial;
  transition: opacity .3s ease;
//   // display: block;
//   left: 0;
//   position: absolute;
//   top: 0;
}
/* For each project, when one slide is activate, ensure all other slides of that carousel
   is deactive by bringing its opacity back to 0*/
.evo_c-accordion__content.is-expanded #proj-1-slide-1:checked ~ .proj-1-slide-2,
.evo_c-accordion__content.is-expanded #proj-1-slide-1:checked ~ .proj-1-slide-3,
.evo_c-accordion__content.is-expanded #proj-1-slide-1:checked ~ .proj-1-slide-4,
.evo_c-accordion__content.is-expanded #proj-1-slide-2:checked ~ .proj-1-slide-1,
.evo_c-accordion__content.is-expanded #proj-1-slide-2:checked ~ .proj-1-slide-3,
.evo_c-accordion__content.is-expanded #proj-1-slide-2:checked ~ .proj-1-slide-4,
.evo_c-accordion__content.is-expanded #proj-1-slide-3:checked ~ .proj-1-slide-1,
.evo_c-accordion__content.is-expanded #proj-1-slide-3:checked ~ .proj-1-slide-2,
.evo_c-accordion__content.is-expanded #proj-1-slide-3:checked ~ .proj-1-slide-4,
.evo_c-accordion__content.is-expanded #proj-1-slide-4:checked ~ .proj-1-slide-1,
.evo_c-accordion__content.is-expanded #proj-1-slide-4:checked ~ .proj-1-slide-2,
.evo_c-accordion__content.is-expanded #proj-1-slide-4:checked ~ .proj-1-slide-3,

.evo_c-accordion__content.is-expanded #proj-2-slide-1:checked ~ .proj-2-slide-2,
.evo_c-accordion__content.is-expanded #proj-2-slide-1:checked ~ .proj-2-slide-3,
.evo_c-accordion__content.is-expanded #proj-2-slide-1:checked ~ .proj-2-slide-4,
.evo_c-accordion__content.is-expanded #proj-2-slide-2:checked ~ .proj-2-slide-1,
.evo_c-accordion__content.is-expanded #proj-2-slide-2:checked ~ .proj-2-slide-3,
.evo_c-accordion__content.is-expanded #proj-2-slide-2:checked ~ .proj-2-slide-4,
.evo_c-accordion__content.is-expanded #proj-2-slide-3:checked ~ .proj-2-slide-1,
.evo_c-accordion__content.is-expanded #proj-2-slide-3:checked ~ .proj-2-slide-2,
.evo_c-accordion__content.is-expanded #proj-2-slide-3:checked ~ .proj-2-slide-4,
.evo_c-accordion__content.is-expanded #proj-2-slide-4:checked ~ .proj-2-slide-1,
.evo_c-accordion__content.is-expanded #proj-2-slide-4:checked ~ .proj-2-slide-2,
.evo_c-accordion__content.is-expanded #proj-2-slide-4:checked ~ .proj-2-slide-3,

.evo_c-accordion__content.is-expanded #proj-3-slide-1:checked ~ .proj-3-slide-2,
.evo_c-accordion__content.is-expanded #proj-3-slide-1:checked ~ .proj-3-slide-3,
.evo_c-accordion__content.is-expanded #proj-3-slide-1:checked ~ .proj-3-slide-4,
.evo_c-accordion__content.is-expanded #proj-3-slide-2:checked ~ .proj-3-slide-1,
.evo_c-accordion__content.is-expanded #proj-3-slide-2:checked ~ .proj-3-slide-3,
.evo_c-accordion__content.is-expanded #proj-3-slide-2:checked ~ .proj-3-slide-4,
.evo_c-accordion__content.is-expanded #proj-3-slide-3:checked ~ .proj-3-slide-1,
.evo_c-accordion__content.is-expanded #proj-3-slide-3:checked ~ .proj-3-slide-2,
.evo_c-accordion__content.is-expanded #proj-3-slide-3:checked ~ .proj-3-slide-4,
.evo_c-accordion__content.is-expanded #proj-3-slide-4:checked ~ .proj-3-slide-1,
.evo_c-accordion__content.is-expanded #proj-3-slide-4:checked ~ .proj-3-slide-2,
.evo_c-accordion__content.is-expanded #proj-3-slide-4:checked ~ .proj-3-slide-3,

.evo_c-accordion__content.is-expanded #proj-4-slide-1:checked ~ .proj-4-slide-2,
.evo_c-accordion__content.is-expanded #proj-4-slide-1:checked ~ .proj-4-slide-3,
.evo_c-accordion__content.is-expanded #proj-4-slide-1:checked ~ .proj-4-slide-4,
.evo_c-accordion__content.is-expanded #proj-4-slide-2:checked ~ .proj-4-slide-1,
.evo_c-accordion__content.is-expanded #proj-4-slide-2:checked ~ .proj-4-slide-3,
.evo_c-accordion__content.is-expanded #proj-4-slide-2:checked ~ .proj-4-slide-4,
.evo_c-accordion__content.is-expanded #proj-4-slide-3:checked ~ .proj-4-slide-1,
.evo_c-accordion__content.is-expanded #proj-4-slide-3:checked ~ .proj-4-slide-2,
.evo_c-accordion__content.is-expanded #proj-4-slide-3:checked ~ .proj-4-slide-4,
.evo_c-accordion__content.is-expanded #proj-4-slide-4:checked ~ .proj-4-slide-1,
.evo_c-accordion__content.is-expanded #proj-4-slide-4:checked ~ .proj-4-slide-2,
.evo_c-accordion__content.is-expanded #proj-4-slide-4:checked ~ .proj-4-slide-3,

.evo_c-accordion__content.is-expanded #proj-5-slide-1:checked ~ .proj-5-slide-2,
.evo_c-accordion__content.is-expanded #proj-5-slide-1:checked ~ .proj-5-slide-3,
.evo_c-accordion__content.is-expanded #proj-5-slide-1:checked ~ .proj-5-slide-4,
.evo_c-accordion__content.is-expanded #proj-5-slide-2:checked ~ .proj-5-slide-1,
.evo_c-accordion__content.is-expanded #proj-5-slide-2:checked ~ .proj-5-slide-3,
.evo_c-accordion__content.is-expanded #proj-5-slide-2:checked ~ .proj-5-slide-4,
.evo_c-accordion__content.is-expanded #proj-5-slide-3:checked ~ .proj-5-slide-1,
.evo_c-accordion__content.is-expanded #proj-5-slide-3:checked ~ .proj-5-slide-2,
.evo_c-accordion__content.is-expanded #proj-5-slide-3:checked ~ .proj-5-slide-4,
.evo_c-accordion__content.is-expanded #proj-5-slide-4:checked ~ .proj-5-slide-1,
.evo_c-accordion__content.is-expanded #proj-5-slide-4:checked ~ .proj-5-slide-2,
.evo_c-accordion__content.is-expanded #proj-5-slide-4:checked ~ .proj-5-slide-3 {
  opacity: 0;
  pointer-events: none;
  transition: opacity .3s ease;
//   position: absolute;
}


.carousel .carousel-nav {
  // position: absolute;
  // top: 50%;
  // z-index: 100;
  align-self: flex-start;
  transition: color .3s ease;
//   background: initial;
//   bottom: 0;
//   box-shadow: none;
//   display: inline-block;
//   padding: 10px;
//   position: relative;
  // @media screen and (min-width: $large) {
    // top: 75%
  // }
}
// .carousel .carousel-nav:last-child {
//   right: .5em;
// }
.carousel .carousel-nav .material-icons {
  font-size: 3em;
}
.carousel .slide-content {
  // display: inline-block;
  // max-width: 90%;
  // position: absolute;
}
.carousel .projforms img,
.carousel .projaccord img {
  display: block;
  margin: 1em auto;
}

.carousel .carousel-nav:hover,
.carousel .carousel-nav:focus {
  // background-color: initial;
  color: #339EFF;
  cursor: hand;
  cursor: pointer;
}

.project-links {
  // margin-left: auto;
  // margin-right: auto;
  border-bottom: 3px solid transparent;
  display: inline-block;
  font-size: 1.5em;
  font-weight: 700;
  margin-bottom: .7em;
  text-decoration: inherit;
  transform: border .3s ease,
              color .3s ease;
}

.project-links:focus,
.project-links:hover {
  border-bottom: 3px solid #339EFF;
  color: #339EFF;
}

.project-heading {
  margin: .7em 0;
}

/* Margins Around Form Projects */
.projcolor,
.projcredit {
  margin: 1em auto;

  @media screen and (min-width: $large) {
    margin: 1em auto;
  }
}
