/* OFF CANVAS MENU
  ================================ */
#offcanvas-toggle {
  position: absolute;
  opacity: 0;
}
#offcanvas-toggle:checked ~ .wrapper .main-nav{
  transform: translate3d(200px, 0, 0);
  transition: transform .3s;
}

.wrapper {
  transform: translate3d(0);
  transition: transform .8s;
}

#offcanvas-toggle:checked ~ .wrapper {
  transform: translate3d(200px, 0, 0);
  // transition: transform .5s;
}
