/* PROJECTS: GALLERY
  ================================ */

.projgallery .thumbnail-box {
  align-content: flex-start;
  align-items: flex-start;
  background-position: center top;
  background-size: auto;
  display: flex;
  flex-flow: row wrap;
  height: 95vh;
  justify-content: center;
  transition: background .7s ease;
  width: 100%;
}

.projgallery .thumbnail {
  border-radius: 2px;
  border: 2px solid gray;
  transition: border .7s ease;
}

.projgallery .thumbnail:hover,
.projgallery .thumbnail:focus {
  border: 2px solid azure;
}

@media (max-width: 360px) {
  .projgallery .thumbnail {
    max-width: 80px;
  }
  .projgallery .thumbnail-box {
    background: url("img/gallery_imgs/gallery_1x.jpg") no-repeat center top;
  }
  .projgallery input[value="1"]:checked ~ div{
    /*background-size: 100%;*/
    background-size: auto;
    background: url("img/gallery_imgs/house1_1x.jpg") no-repeat center top;
  }
  .projgallery input[value="2"]:checked ~ div{
    /*background-size: 100%;*/
    background-size: auto;
    background: url("img/gallery_imgs/house2_1x.jpg") no-repeat center top;
  }
  .projgallery input[value="3"]:checked ~ div{
    /*background-size: 100%;*/
    background-size: auto;
    background: url("img/gallery_imgs/house3_1x.jpg") no-repeat center top;
  }
  .projgallery input[value="4"]:checked ~ div{
    /*background-size: 100%;*/
    background-size: auto;
    background: url("img/gallery_imgs/house4_1x.jpg") no-repeat center top;
  }
  .projgallery input[value="5"]:checked ~ div{
    /*background-size: 100%;*/
    background-size: auto;
    background: url("img/gallery_imgs/house5_1x.jpg") no-repeat center top;
  }
}

@media (max-width: 600px) {
  .projgallery .thumbnail {
    max-width: 100px;
  }
  .projgallery .thumbnail-box {
    background: url("img/gallery_imgs/gallery_2x.jpg") no-repeat center top;
  }
  .projgallery input[value="1"]:checked ~ div{
    /*background-size: 100%;*/
    background-size: auto;
    background: url("img/gallery_imgs/house1_2x.jpg") no-repeat center top;
  }
  .projgallery input[value="2"]:checked ~ div{
    /*background-size: 100%;*/
    background-size: auto;
    background: url("img/gallery_imgs/house2_2x.jpg") no-repeat center top;
  }
  .projgallery input[value="3"]:checked ~ div{
    /*background-size: 100%;*/
    background-size: auto;
    background: url("img/gallery_imgs/house3_2x.jpg") no-repeat center top;
  }
  .projgallery input[value="4"]:checked ~ div{
    /*background-size: 100%;*/
    background-size: auto;
    background: url("img/gallery_imgs/house4_2x.jpg") no-repeat center top;
  }
  .projgallery input[value="5"]:checked ~ div{
    /*background-size: 100%;*/
    background-size: auto;
    background: url("img/gallery_imgs/house5_2x.jpg") no-repeat center top;
  }
}

@media (min-width: 601px) {
  .projgallery .thumbnail {
    max-width: 130px;
  }
  .projgallery .thumbnail-box {
    background: url("img/gallery_imgs/gallery_4x.jpg") no-repeat center top;
  }
  .projgallery input[value="1"]:checked ~ div{
    /*background-size: 100%;*/
    background-size: auto;
    background: url("img/gallery_imgs/house1_4x.jpg") no-repeat center top;
  }
  .projgallery input[value="2"]:checked ~ div{
    /*background-size: 100%;*/
    background-size: auto;
    background: url("img/gallery_imgs/house2_4x.jpg") no-repeat center top;
  }
  .projgallery input[value="3"]:checked ~ div{
    /*background-size: 100%;*/
    background-size: auto;
    background: url("img/gallery_imgs/house3_4x.jpg") no-repeat center top;
  }
  .projgallery input[value="4"]:checked ~ div{
    /*background-size: 100%;*/
    background-size: auto;
    background: url("img/gallery_imgs/house4_4x.jpg") no-repeat center top;
  }
  .projgallery input[value="5"]:checked ~ div{
    /*background-size: 100%;*/
    background-size: auto;
    background: url("img/gallery_imgs/house5_4x.jpg") no-repeat center top;
  }
}

.projgallery input {
  display: none;
}
