/**, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Oxygen', sans-serif;
  font-size: 1.2em;
}

h1 {
  text-align: center;
}*/

.projcolor {
  width: 100%;
}

.projcolor #colorbuilder {
  width: 50%;
}

.projcolor.color_picker {
  /*max-width: 500px;*/
  padding: 20px;
  background-color: rgba(255,255,255,.0);
  margin: 0 auto;
  position: relative;
  /*width: 50%;*/
  background-color: white;
  -webkit-box-shadow: 0 8px 6px -6px black;
    -moz-box-shadow: 0 8px 6px -6px black;
    box-shadow: 0 8px 6px -6px black;
    border: 2px solid #999999;
    border-radius: 10px;
}

.projcolor label {
  display: inline-block;
  width: 100px;
  margin-bottom: 10px;
  letter-spacing: 1px;
  font-weight: 700;
}

.projcolor label[for="red_value"] { color: #FF452B; }
.projcolor label[for="green_value"] { color: #01A302; }
.projcolor label[for="blue_value"] { color: #358AFF; }
.projcolor label[for="alpha_value"] { color: #787878; }

.projcolor #red_value,
.projcolor #green_value,
.projcolor #blue_value,
.projcolor #alpha_value {
  /*vertical-align: middle;*/
}

.projcolor .rgba_value {
  margin: 0;
  text-align: right;
  letter-spacing: 1px;
  font-size: .9em;
  position: absolute;
  bottom: 0;
  left: calc(50% - 77px);

}

.projcolor #color_swatch {
  background-color: rgba(128,128,128,0.5);
  /*width: 215px;*/
  width: 50%;
  height: 100%;
  border: none;
  position: absolute;
  top: 0;
  right: 0;
  /*These should be 3 pixels less than container border radius*/
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
}

.projcolor button {
  display: block;
  margin: 2rem auto;
  background-color: lightgray;
  border-radius: 5px;
  padding: 8px;
  transition: background-color .3s ease;
}

.projcolor button:hover,
.projcolor button:focus {
  background-color: #C4CDCB;

}
