/* PROJECTS: CREDIT CARD FORM
  ================================ */

.projcredit {
  background-attachment: fixed;
  background-image: linear-gradient(to left top, #CB4CF0 -25%, #34ADFF, #4BFF74 125%);
  background-repeat: no-repeat;
}

.projcredit fieldset {
  border: 5px solid rgba(0,0,0,0.2);
  margin: 0 auto 50px;
  max-width: 600px;
  padding: 30px 10px 30px;
}

.projcredit p {
  margin: 0 auto 30px;
  width: 85%;
}

.creditmonthyearcsv {
  margin: 0 auto;
  text-align: center;
}

.projcredit .name,
.projcredit .number,
.projcredit .month,
.projcredit .year,
.projcredit .csv,
.projcredit .submit {
  background-color: rgba(0,0,0,0.2);
  padding: 15px;
}

.projcredit .name,
.projcredit .number,
.projcredit .submit {
  margin: 10px auto;
  width: 70%;
}

.projcredit .month,
.projcredit .year,
.projcredit .csv {
  display: inline-block;
  margin-bottom: 10px;
  max-width: 33%;
  padding: 8px;
  @media screen and (min-width: $large) {
    padding: 15px;
  }
}
.projcredit .month,
.projcredit .year,
.projcredit .csv {
  width: 124px;
  // width: 124px;
}

.projcredit .month {
  /*margin-left: 85px;*/
  /*margin-right: 10px;*/
}
.projcredit .year {
  /*margin-right: 11px;*/
}

.projcredit label {
  display: block;
  font-size: .9rem;
  margin-bottom: 5px;
}

@media screen and (min-width: $huge) {
  .projcredit label[for="exp_month"]:after,
  .projcredit label[for="exp_year"]:after,
  .projcredit label[for="card_number"]:after,
  .projcredit label[for="name_on_card"]:after,
  .projcredit label[for="csv"]:after {
    color: #4E5252;
    font-family: 'FontAwesome';
    position: relative;
  }

  .projcredit label[for="name_on_card"]:after {
    content: '\f007';
    right: -200px;
    top: 33px;

    @media screen and (min-width: 1120px) {

    }
  }

  .projcredit label[for="card_number"]:after {
    content: '\f283';
    right: -85px;
    top: 33px;

    @media screen and (min-width: 1120px) {

    }
  }

  .projcredit label[for="exp_month"]:after,
  .projcredit label[for="exp_year"]:after {
    content: '\f07d';
    right: 5px;
    top: 33px;

    @media screen and (min-width: 1120px) {

    }
  }
  .projcredit label[for="exp_year"]:after {
    right: -3px;

    @media screen and (min-width: 1120px) {

    }
  }
  .projcredit label[for="csv"]:after {
    content: '\f023';
    right: -20px;
    top: 33px;

    @media screen and (min-width: 1120px) {

    }
  }
}

.projcredit input,
.projcredit select,
.projcredit button {
  -moz-appearance: none;
  -webkit-appearance: none;
  border-radius: 0;
  border: none; /*3px solid rgba(255,255,255,0.0);*/
  color: #4E5252;
  font-size: 1rem;
  outline: none;
  padding: 10px 10px;
  transition: background-color .7s ease, color .7s ease;
  width: 100%;
}

.projcredit input:focus,
.projcredit select:focus {
  background-color: #FFFC9D;
}
.projcredit select:invalid,
.projcredit input:invalid {
  color: #f00;
}

.projcredit button {
  background: white;
  display: block;
  margin: auto;
}

.projcredit button:hover,
.projcredit button:focus {
  background: #37A7F8;
  color: white;
}
