/* PROJECTS: CALCULATOR
  ================================ */

.calc_container {
  background-image: linear-gradient(#9AD2E8, #87CFE9);
  border-radius: 3px;
  border-spacing: 8px 8px;
  box-shadow: 0 4px 0 0 #009EDF;
  margin: 0 auto;
  max-width: 400px;
  padding: .5em;
  @media screen and (min-width: 450px) {
    padding: .9em;
  }
}

.button,
#display {
  border-radius: 3px;
  border: none;
  color: #888888;
  display: table-cell;
  font-size: .8rem;
  outline: none;
  transition: background-color .5s ease, box-shadow .5s ease, transform .5s ease;
  width: 100%;
}

#display {
  /*direction: rtl;*/
  // min-height: 55px;
  background-color: #79A7B9;
  box-shadow: inset 0 4px 0 #628795;
  color: #fff;
  font-size: 1rem;
  height: 100%;
  min-height: 3.4375em;
  padding: auto 5px;
}
#display:hover,
#display:focus {
  background-color: #85B7CD;
}

.button {
  // padding: 20px 30px;
  background-color: #fff;
  box-shadow: 0 4px 0 0 #75A7BA;
  font-weight: 700;
  padding: .9em 1em;

  @media screen and (min-width: $large) {
    padding: 1em 1.5em;
  }
  @media screen and (min-width: $huge) {
    padding: 1.25em 1.875em;
  }
}
.button:hover,
.button:focus {
  background-color: #E3E3E3;
}
.button:active {
  box-shadow: 0 0 0 0 #75A7BA;
  transform: translateY(3px);
}

.sign {
  background-color: #EEE2E7;
}
.sign:hover,
.sign:focus {
  background-color: #CFC3CA;
}

#clear {
  background-color: #FF8475;
  box-shadow: 0 4px 0 0 #C8655D;
  color: #fff;
}
#clear:hover,
#clear:focus {
  background-color: #E9786C;
}
#clear:active {
  box-shadow: 0 0 0 0 #C8655D;
}

#del {
  background-color: #FFF085;
  box-shadow: 0 4px 0 0 #B8AD60;
}
#del:hover,
#del:focus {
  background-color: #E4D777;
}
#del:active {
  box-shadow: 0 0 0 0 #B8AD60;
}

#equal {
  background-color: #90F182;
  box-shadow: 0 4px 0 0 #6DBB64;
}
#equal:hover,
#equal:focus {
  background-color: #80DD76;
}
#equal:active {
  box-shadow: 0 0 0 0 #6DBB64;
}
