/**, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-size: 1rem;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Lato', sans-serif;
  color: #E6EEEE;
  background-image: linear-gradient(
    to left top,
    #CB4CF0 -25%,
    #34ADFF,
    #4BFF74 125%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100%;
}

h1 {
  text-align: center;
}*/

.projcredit {
  background-image: linear-gradient(
    to left top,
    #CB4CF0 -25%,
    #34ADFF,
    #4BFF74 125%);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.projcredit fieldset {
  border: 5px solid rgba(0,0,0,0.2);
  padding: 30px 10px 30px;
  margin: 0 auto 50px;
  max-width: 600px;
}

.projcredit p {
  width: 85%;
  margin: 0 auto 30px;
}

.creditmonthyearcsv {
  margin: 0 auto;
  text-align: center;
}

.projcredit .name,
.projcredit .number,
.projcredit .month,
.projcredit .year,
.projcredit .csv,
.projcredit .submit {
  background-color: rgba(0,0,0,0.2);
  padding: 15px;
}

.projcredit .name,
.projcredit .number,
.projcredit .submit {
  margin: 10px auto;
  width: 70%;
}

.projcredit .month,
.projcredit .year,
.projcredit .csv {
  display: inline-block;
  padding: 8px;

  max-width: 33%;
  margin-bottom: 10px;
  @media screen and (min-width: $large) {
    padding: 15px;
  }
}
.projcredit .month,
.projcredit .year,
.projcredit .csv {
  width: 124px;
  width: 124px;
}

.projcredit .month {
  /*margin-left: 85px;*/
  /*margin-right: 10px;*/
}
.projcredit .year {
  /*margin-right: 11px;*/
}

.projcredit label {
  display: block;
  font-size: .9rem;
  margin-bottom: 5px;
}
@media screen and (min-width: $huge) {


  .projcredit label[for="exp_month"]:after,
  .projcredit label[for="exp_year"]:after,
  .projcredit label[for="card_number"]:after,
  .projcredit label[for="name_on_card"]:after,
  .projcredit label[for="csv"]:after {
    font-family: 'FontAwesome';
    position: relative;
    color: #4E5252;
  }

  .projcredit label[for="name_on_card"]:after {
    content: '\f007';
    right: -200px;
    top: 33px;
    @media screen and (min-width: 1120px) {

    }
  }

  .projcredit label[for="card_number"]:after {
    content: '\f283';
    right: -85px;
    top: 33px;
    @media screen and (min-width: 1120px) {

    }
  }

  .projcredit label[for="exp_month"]:after,
  .projcredit label[for="exp_year"]:after {
    content: '\f07d';
    right: 5px;
    top: 33px;
    @media screen and (min-width: 1120px) {

    }
  }
  .projcredit label[for="exp_year"]:after {
    right: -3px;
    @media screen and (min-width: 1120px) {

    }
  }
  .projcredit label[for="csv"]:after {
    content: '\f023';
    right: -20px;
    top: 33px;
    @media screen and (min-width: 1120px) {

    }
  }
}

.projcredit input,
.projcredit select,
.projcredit button {
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 0;
  border: none; /*3px solid rgba(255,255,255,0.0);*/
  outline: none;
  padding: 10px 10px;
  font-size: 1rem;
  width: 100%;
  color: #4E5252;
  transition: background-color .7s ease,
              color .7s ease;
}

.projcredit input:focus,
.projcredit select:focus {
  background-color: #FFFC9D;
}
.projcredit select:invalid,
.projcredit input:invalid {
  color: #f00;
}

.projcredit button {
  display: block;
  margin: auto;
  background: white;
}

.projcredit button:hover,
.projcredit button:focus {
  background: #37A7F8;
  color: white;
}
