/* PROJECTS: COLOR BUILDER FORM
  ================================ */

.projcolor {
  width: 100%;
}

.projcolor #colorbuilder {
  width: 50%;
}

.projcolor.color_picker {
  -moz-box-shadow: 0 8px 6px -6px black;
  -webkit-box-shadow: 0 8px 6px -6px black;
  /*max-width: 500px;*/
  /*width: 50%;*/
  background-color: rgba(255,255,255,.0);
  background-color: white;
  border-radius: 10px;
  border: 2px solid #999999;
  box-shadow: 0 8px 6px -6px black;
  margin: 0 auto;
  padding: 20px;
  position: relative;
}

.projcolor label {
  display: inline-block;
  font-weight: 700;
  letter-spacing: 1px;
  margin-bottom: 10px;
  width: 100px;
}

.projcolor label[for="red_value"] { color: #FF452B; }
.projcolor label[for="green_value"] { color: #01A302; }
.projcolor label[for="blue_value"] { color: #358AFF; }
.projcolor label[for="alpha_value"] { color: #787878; }

.projcolor #red_value,
.projcolor #green_value,
.projcolor #blue_value,
.projcolor #alpha_value {
  /*vertical-align: middle;*/
}

.projcolor .rgba_value {
  bottom: 0;
  font-size: .9em;
  left: calc(50% - 77px);
  letter-spacing: 1px;
  margin: 0;
  position: absolute;
  text-align: right;
}

.projcolor #color_swatch {
  /*These should be 3 pixels less than container border radius*/
  /*width: 215px;*/
  background-color: rgba(128,128,128,0.5);
  border-bottom-right-radius: 7px;
  border-top-right-radius: 7px;
  border: none;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  width: 50%;
}

.projcolor button {
  background-color: lightgray;
  border-radius: 5px;
  display: block;
  margin: 0 auto;
  padding: 8px;
  transition: background-color .3s ease;

  @media screen and (min-width: $large) {
    margin: 2rem auto;
  }
}

.projcolor button:hover,
.projcolor button:focus {
  background-color: #C4CDCB;
}
