/* PROJECTS: ACCORDION
  ================================ */

.evo_c-accordion {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
  position: relative;
  width: 100%;
}
.evo_c-accordion__bellow {
  // margin-bottom: .5em;
  box-shadow: 0px -2px 4px 0px #8c8c8c;
}
.evo_c-accordion__bellow:last-child {
  margin-bottom: 0;
}
@media screen and (min-width: $large) {
  .evo_c-accordion__bellow {
    box-shadow: -2px 2px 4px 0px #8c8c8c;
    margin-bottom: .5em;
    max-width: 200px;
  }
  .evo_c-accordion__content {
    box-shadow: 2px 2px 4px 0px #8c8c8c;
    left: 200px;
    min-height: 500px;
    min-width: 67%;
    padding-bottom: .625em;
    position: absolute;
    top: 0;
  }
}
.evo_c-accordion__title {
  /*width: 100%;*/
  // background-color: #56c5de;
  // font-family: "Helvetica", sans-serif;
  background-color: $small-nav-color;
  color: white;
  display: block;
  font-weight: 700;
  padding: .9375em;
  text-align: center;
  text-decoration: none;
  transition: background .3s ease, color .3s ease;
}
.evo_c-accordion__title:link, .evo_c-accordion__title:visited, .evo_c-accordion__title:active {
  color: white;
  text-decoration: none;
}
.evo_c-accordion__title:hover,
.evo_c-accordion__title:focus {
  // background-color: #49a7bd;
  background-color: lighten($small-nav-color,15%);
}
.evo_c-accordion__title.is-active {
  // background-color: #49a7bd;
  background-color: lighten($small-nav-color,15%);
}
.evo_c-accordion__content {
  // display: none;
  // font-family: "Helvetica", sans-serif;
  // padding-bottom: .625em;
  // padding-left: .625em;
  // padding-right: .625em;
  background: white;
  box-shadow: 0px 2px 4px 0px #8c8c8c;
  margin-bottom: .5em;
  max-height: 0;
  min-height: 0;
  opacity: 0;
  overflow-y: scroll;
  transition: all .5s ease;
}
.evo_c-accordion__content.is-expanded {
  // background-color: lighten($small-nav-color,15%);
  // display: initial;
  // max-height: 50vh;
  // position: absolute;
  background: #e6e9ed;
  min-height: 400px;
  opacity: 1;
  padding-top: 1em;
}

@media (min-width: 361px) and (max-width: 600px) {
  .evo_c-accordion__title {
    // background-color: #78E36D;
    background-color: $medium-nav-color;
  }
  .evo_c-accordion__title:hover,
  .evo_c-accordion__title:focus {
    // background-color: #40C257;
    background-color: lighten($medium-nav-color,15%);
  }
  .evo_c-accordion__title.is-active {
    // background-color: #40C257;
    background-color: lighten($medium-nav-color,15%);
  }
  .evo_c-accordion__content.is-expanded {
    // background-color: lighten($medium-nav-color,15%);
    background: #e6e9ed;
  }
}
@media (min-width: 601px) and (max-width: 1024px) {
  .evo_c-accordion__title {
    // background-color: #939994;
    background-color: $large-nav-color;
  }
  .evo_c-accordion__title:hover,
  .evo_c-accordion__title:focus {
    // background-color: #737774;
    background-color: lighten($large-nav-color,15%);
  }
  .evo_c-accordion__title.is-active {
    // background-color: #737774;
    background-color: lighten($large-nav-color,15%);
  }
  .evo_c-accordion__content {
    box-shadow: 2px 2px 4px 0px #8c8c8c;
  }
  .evo_c-accordion__content.is-expanded {
    background-color: lighten($large-nav-color,15%);
  }
}
@media (min-width: 1025px) {
  .evo_c-accordion__title {
    // background-color: #D8474A;
    background-color: $huge-nav-color;
  }
  .evo_c-accordion__title:hover,
  .evo_c-accordion__title:focus {
    // background-color: #B93E40;
    background-color: lighten($huge-nav-color,15%);
  }
  .evo_c-accordion__title.is-active {
    // background-color: #B93E40;
    background-color: lighten($huge-nav-color,15%);
  }
  .evo_c-accordion__bellow {
    max-width: 350px;
  }
  .evo_c-accordion__content {
    box-shadow: 2px 2px 4px 0px #8c8c8c;
    left: 350px;
  }
  .evo_c-accordion__content.is-expanded {
    background-color: lighten($huge-nav-color,15%);
    min-height: 200%;
    min-width: 65%;
  }
}
